<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../images/cloud.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>
           About Page
        </title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
         <p>This site was created by Yash Chachad . It uses data from mapbox and darksy API's!</p>
         <img class="portrait" src="/images/me.jpeg">
         </div>
         
          {{>footer}}
    </body>
</html>