<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../images/cloud.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>
           Help page
        </title>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
        <p>{{description}}</p>
        </div>
       
         {{>footer}}
    </body>
</html>